{% extends "rango/base.html" %}
{% load staticfiles %}
{% block title_block %}
	Home Page
{% endblock title_block %}
{% block body_block %}
	<h1>Rango say..</h1>
	<div>
		{% if user.is_authenticated  %}
			howdy {{ user.username }}
		{% else %}
			hey there partner
		{% endif %}
		<strong>{{boldmessage}}</strong>
	</div>
	<h2>Most liked category is {{most_liked_category.name}}</h2>
	<div>
		{% if categories %}
			<ul>
				{% for category in categories %}
					<li>
						<a href="{% url 'rango:show_category' category.slug %}">{{category.name}}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no category present</strong>
		{% endif %}
	</div>
	<div>
		<h2>Most Viewed Page is  {{most_viewed_page}}</h2>
		{% if pages %}
			<ul>
				{% for page in pages %}
					<li>
						<a href="{{page.url}}">{{page.title}}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no pages availble</strong>
		{% endif %}
	</div>
	<div>
		<img src="{% static 'images/rango_camlion_image.jpg' %}"
					 alt="Picture of rango"/>	
	</div>
{% endblock body_block %}
